*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

html,body{
    width: 100%;
    height: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(110, 137, 219, 0.774),rgb(47, 78, 170));
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 500px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 70px;
    text-align: center;
    flex-direction: column;
    background-color: rgb(247, 247, 40);

}

#card img{
    
    height: 120px;
    width: 120px;
    border-radius:50% ;
    object-fit: cover;
    object-position: center;
    border:2px solid #fff;
    
    
}

#card h5{
    font-size: 25px;
    color: red;
}


#card p{
    font-size: 15px;
    color: rgba(15, 14, 14, 0.616);
    font-weight: 600;
}


#card button{
    padding: 8px 15px;
    background-color: rgba(73, 114, 240, 0.774);
    color: #fff;
    border-radius: 50px;
    font-weight: 600;
    border: none;
    cursor: pointer;

}